/* CSS Variables */
:root {
    --primary: #dddddd;
    --dark: #333333;
    --light: #ffffff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}

.btn {
    background: var(--dar);
    color: var(--light);
    /* rem is a multiplier for the root HTML font size, whitch is 16px default */
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0px;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    /* spacing in between everything, like margin */
    grid-gap: 20px;
}

/* Navigation */
.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    /* four diffrerent sections  */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* or the same meaning: */
    /* grid-template-columns: repeat(4, 1fr); */
}

.main-nav a {
    background: var(--primary);
    color: var(--dark);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;

    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}
