/* CSS Variables */
:root {
    --primary: #dddddd;
    --dark: #333333;
    --light: #ffffff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}

.btn {
    background: var(--dark);
    color: var(--light);
    /* rem is a multiplier for the root HTML font size, whitch is 16px default */
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0px;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    /* spacing in between everything, like margin */
    grid-gap: 20px;
}

/* Navigation */
.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    /* four diffrerent sections  */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* or the same meaning: */
    /* grid-template-columns: repeat(4, 1fr); */
}

.main-nav a {
    background: var(--primary);
    color: var(--dark);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}

/* Top Container */
.top-container {
    display: grid;
    grid-gap: 20px;
    /* the grid system is two-dimensional */
    grid-template-areas:
        "showcase showcase top-box-a"
        "showcase showcase top-box-b";
}

/* Showcase */
.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url("img/iphone-dark-notebook-pen-34140.jpg");
    /* minimalise the zoom of image */
    background-size: cover;
    background-position: center;
    padding: 3rem;
    /* use flexbox into this div */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}

/* Top Box */
.top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.top-box .price {
    font-size: 2.5rem;
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}

/* Boxes */
.boxes {
    display: grid;
    grid-gap: 20px;
    /* we dont have to specify the temple columns for each media query */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 20px;
    margin-bottom: 20px;
}

.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

/* Info */
.info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
    margin-bottom: 20px;
}

/* Portfolio */
.portfolio {
    display: grid;
    grid-gap: 20px;
    /* we dont have to specify the temple columns for each media query */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img {
    width: 100%;
    box-shadow: var(--shadow);
}

/* Footer */
footer {
    margin-top: 2rem;
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}
